@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: inter;
    src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}

.poppins{
    font-family: poppins;
}

.inter{
    font-family: inter;
}

